# Canonical identity for contributor display
David Erik Garcia Arenas <88119698+Hawaiiiiii@users.noreply.github.com> <daviderikgarciaarenas@gmail.com>
David Erik Garcia Arenas <88119698+Hawaiiiiii@users.noreply.github.com> <david-erik.garcia-arenas@paradoxcat.com>
David Erik Garcia Arenas <88119698+Hawaiiiiii@users.noreply.github.com> <davidtron1800@hotmail.com>
David Erik Garcia Arenas <88119698+Hawaiiiiii@users.noreply.github.com> Hawaiiiiii <88119698+Hawaiiiiii@users.noreply.github.com>
David Erik Garcia Arenas <88119698+Hawaiiiiii@users.noreply.github.com> David Erik García Arenas <david-erik.garcia-arenas@paradoxcat.com>
David Erik Garcia Arenas <88119698+Hawaiiiiii@users.noreply.github.com> David Erik García Arenas <davidtron1800@hotmail.com>